<script type="text/x-handlebars-template">

    <div class="form-group">

        {{#if options.label}}
        <label class="{{#if options.labelClass}}{{options.labelClass}}{{/if}} control-label alpaca-control-label" for="{{id}}">{{{options.label}}}</label>
        {{/if}}

        {{#if options.helpers}}
            {{#compare options.helpersPosition "above"}}
                {{#each options.helpers}}
                <p class="help-block {{#if options.helperClass}}{{options.helperClass}}{{/if}}">
                    <i class="fas fa-info"></i>
                    {{#showMessage .}}{{/showMessage}}
                </p>
                {{/each}}
            {{/compare}}
        {{/if}}

        {{#control}}{{/control}}

        {{#if options.helpers}}
            {{#compare options.helpersPosition "below"}}
                {{#each options.helpers}}
                    <p class="help-block {{#if options.helperClass}}{{options.helperClass}}{{/if}}">
                        <i class="fas fa-info"></i>
                        {{#showMessage .}}{{/showMessage}}
                    </p>
                {{/each}}
            {{/compare}}
        {{/if}}

        {{#if options.renderButtons}}
            {{#if options.buttons}}
            <div class="alpaca-control-buttons-container">
                {{#each options.buttons}}
                <button data-key="{{@key}}" type="{{type}}" class="alpaca-control-button alpaca-control-button-{{@key}} {{styles}}" {{#each value}}{{@key}}="{{value}}" {{/each}}>{{{value}}}</button>
                {{/each}}
            </div>
            {{/if}}
        {{/if}}

    </div>

</script>